# Игнорируем бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Игнорируем папку bin (если используется)
bin/

# Игнорируем папку pkg (если используется)
pkg/

# Игнорируем файлы, специфичные для IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорируем файлы, специфичные для операционной системы
.DS_Store
Thumbs.db

# Игнорируем папку vendor (если используется)
vendor/

# Игнорируем файлы, специфичные для тестов
coverage.txt
profile.out

# Игнорируем файлы, специфичные для Go
go.sum
go.mod